* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.membermain {
    width: 100vw;
    height: 100vh;
    background: url(../../assets/images/gym.jpg)  no-repeat center fixed;
    background-size: cover;
  }
  .memberparent{
    width: 80vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
  .memberleft{
    width: 40%;
    height: 85%;
    position: absolute;
    left: 10%;
    top: 10%;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    background-color: rgba(109, 109, 112, 0.5);
    box-shadow: 20px 20px 50px #bebebe, -20px -20px 50px #ffffff;
    border-radius: 2.5rem;
  }
  .memberright{
    width: 40%;
    height: 85%;
    position: absolute;
    left: 72.5%;
    top: 10%;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(109, 109, 112, 0.5);
    box-shadow: 20px 20px 50px #bebebe, -20px -20px 50px #ffffff;
    border-radius: 2.5rem;
  }
  .membtitle{
    color: orange;
    padding: 0.6rem;
    align-items: center;
    text-align: center;
  }
  .membcontent li{
    text-decoration: none;
    list-style-type:none;
    padding-bottom: 0.6rem;
  }
  .membcontent{
    text-align: justify;
  }
  .listTitle{
    color: orange;
  }