* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.loginMain{
    background: url(../../assets/images/bg.webp)  no-repeat center fixed;
    background-size: cover;
  }
  .loginFormContainer{
    width: 70vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loginForm {
    width: 40%;
    height: 15rem;
    background-color: rgba(109, 109, 112, 0.5);
    box-shadow: 20px 20px 50px #bebebe, -20px -20px 50px #ffffff;
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .loginEmail, .loginPassword, .loginBtn{
    margin: 0.8rem 0;
  }
  .loginEmail, .loginPassword, .loginBtn {
    border: none;
    outline: none;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    background-color: #aca6a6;
    box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
    color: rgb(7, 7, 7);
  }
  .loginBtn{
    background-color: rgba(109, 109, 112, 0.5);
    color: black;
    border: none;
    outline: none;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #b8b6b6, -5px -5px 10px #b8b6b6;
  }